@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
p {
  color: rgb(36, 62, 99);
  line-height: 1.5;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

h1 {
    font-size: 54px;
}

.purple {
    color:rgb(100, 21, 255);
}

/* 

NAV 

*/

.nav {
  justify-content: space-between;
  padding: 36px 0;
}

.logo {
  align-items: center;
}

.logo__img--wrapper {
  width: 40px;
}

.logo__img {
  width: 100%;
}

.nav__logo--text {
  font-weight: 900;
  font-size: 28px;
  padding-left: 8px;
  transition: color 400ms;
}

.logo:hover .nav__logo--text {
  color: rgb(100, 21, 255);
}

.nav__links {
  justify-content: center;
}

.nav__link,
.nav__link--log-in {
  margin-right: 60px;
  font-size: 15px;
  font-weight: 500;
}

li:last-child {
  margin-right: 30px;
}

.nav__links--list {
  align-items: center;
}

.nav__links--log-in {
  align-items: center;
}

.nav__link--log-in {
    margin-right: 30px;
}

.btn {
  background-color: rgb(100, 21, 255);
  padding: 13px 36px;
  color: white;
  border-radius: 40px;
  font-size: 15px;
  font-weight: 500;
}

/* 

HEADER 

*/

header {
    margin-top: 56px;
}

.header__row {
    display: flex;
    width: 100%;
}

.header__title {
    color: rgb(26,32,44);
}

.header__description {
    width: 40%;
}

.header__para {
    padding: 42px 0;
    font-size: 18px;
}

.header__email--border {
    border: 3px solid rgba(226, 232, 240, 1);
    opacity: 1;
    border-radius: 40px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    transition: all 300ms;
}

.header__email--border:hover {
    border-color:rgba(36, 62, 99, 0.4);
}

.header__text-box {
    margin-left: 18px;
    padding: 18px 0;
    width: 52%;
    border: none;
    font-weight: 500;
    font-size: 20px;
}

.header__text-box::placeholder {
    font-size: 18px;
    font-weight: 500;
    color: rgba(226, 232, 240, 1);
}

.header__text-box:focus {
    outline: none;
}

.header__text-box:focus + .header__email--border{
    border-color:rgb(100, 21, 255);
}

.header__btn {
    border: none;
    cursor: pointer;
}

.header__customers--subtitle {
    margin: 60px 0 18px 0;
    color: rgb(160, 174, 192);
    font-weight: bold;
}

.header__customers--img {
    width: 100%;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
    height: 100%;
}

