/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  font-family: "Inter", system-ui;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a,
p {
  color: rgb(36, 62, 99);
  line-height: 1.5;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

.flex {
  display: flex;
}

h1 {
  font-size: 54px;
}

.purple,
.section__name {
  color: rgb(100, 21, 255);
}

.container {
  padding: 120px 24px;
}

img {
  width: 100%;
}

.button {
  border: none;
}

.btn {
  background-color: rgb(100, 21, 255);
  padding: 13px 36px;
  color: white;
  border-radius: 40px;
  font-size: 15px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: background-color 300ms;
}

.btn:hover {
  background-color: rgba(60, 13, 153, 1);
}

.section__name {
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 2.5px;
}

.section__title {
  margin: 24px 0;
  font-weight: 900;
  color: rgb(36, 62, 99);
  letter-spacing: 2px;
  font-size: 54px;
}

.section__subtitle--text {
  color: rgb(110, 122, 136);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
}

/* 

NAV 

*/

.nav {
  justify-content: space-between;
  padding: 36px 0;
}

.logo {
  align-items: center;
}

.logo__img--wrapper {
  width: 40px;
}

.logo__img {
  width: 100%;
}

.nav__logo--text {
  font-weight: 900;
  font-size: 28px;
  padding-left: 8px;
  transition: color 400ms;
}

.logo:hover .nav__logo--text {
  color: rgb(100, 21, 255);
}

.nav__links {
  justify-content: center;
}

.nav__link,
.nav__link--log-in {
  margin-right: 60px;
  font-size: 15px;
  font-weight: 600;
}

.nav__links--list li:last-child {
  margin-right: 30px;
}

.nav__links--list {
  align-items: center;
}

.nav__links--log-in {
  align-items: center;
}

.nav__link--log-in {
  margin-right: 30px;
}

.hover__effect {
  position: relative;
}

.nav__link{
  transition: color 300ms;
}

.nav__link:hover{
  color: rgb(100, 21, 255);
}

.hover__effect--nav::before {
  content:"";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  transform: translateY(5px);
  opacity: 0;
  background-color: rgb(100, 21, 255);
  transition: opacity 300ms ease;
}

li:hover .hover__effect--nav::before{
  opacity: 1;
}

.nav__link--log-in:hover .hover__effect--nav::before{
  opacity: 1;
}

/* 

HEADER 

*/

header {
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__row {
  display: flex;
  width: 100%;
}

.header__title {
  color: rgb(26, 32, 44);
}

.header__description {
  width: 40%;
}

.header__para {
  padding: 42px 0;
  font-size: 18px;
}

.header__email--border {
  border: 3px solid rgba(226, 232, 240, 1);
  opacity: 1;
  border-radius: 40px;
  padding: 6px;
  display: flex;
  justify-content: space-between;
  transition: all 300ms;
}

.header__email--border:hover {
  border-color: rgba(36, 62, 99, 0.4);
  transition: all 300ms;
}

.header__text-box {
  margin-left: 18px;
  padding: 18px 0;
  width: 52%;
  border: none;
  font-weight: 500;
  font-size: 20px;
}

.header__text-box::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: rgba(226, 232, 240, 1);
}

.header__text-box:focus {
  outline: none;
}

.header__text-box:focus > .header__email--border {
  border-color: rgb(100, 21, 255);
}

.header__customers--subtitle {
  margin: 60px 0 18px 0;
  color: rgb(160, 174, 192);
  font-weight: bold;
}

.header__customers--img {
  width: 100%;
  display: flex;
}

.header__img--wrapper {
  width: 60%;
}

/* 

FEATURES

*/

.features__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__description--features {
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 850px;
  display: flex;
}

.section__name--features,
.section__title--features,
.section__subtitle--features {
  text-align: center;
}

.section__subtitle--features {
  max-width: 80%;
}

.services {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
}

.service {
  width: calc(100% / 3);
  display: flex;
}

.service__img--wrapper {
  border: 2px solid rgba(226, 232, 240, 1);
  padding: 20px;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
}

.service__img {
  border: none;
  width: 30px;
}

.service__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  width: 60%;
  margin-bottom: 90px;
}

.service__title {
  font-size: 30px;
  font-weight: 600;
  color: rgb(36, 62, 99);
  margin-bottom: 20px;
}

.service__para {
  color: rgb(110, 122, 136);
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
}

/*

QUALITY WORK 

*/

.quality-work__row {
  display: flex;
  margin: 0 auto;
}

.quality-work__description {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-right: 80px;
  justify-content: center;
  width: 50%;
}

.quality-work__subtitle {
  margin-bottom: 30px;
}

.quality-work__img--wrapper {
  border: 2px solid rgba(226, 232, 240, 1);
  border-radius: 10px;
  display: flex;
}

.quality-work__second-half {
  display: flex;
  align-items: center;
}

/* 

STEPS

*/

.steps__row {
  display: flex;
  max-width: 1280px;
}

.steps__img--wrapper {
  width: 50%;
  margin: auto 0;
}

.steps__content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 60px;
}

.steps__main--content {
  display: flex;
  flex-wrap: wrap;
}

.steps__number--wrapper {
  width: 10%;
}

.steps__number--text {
  font-size: 36px;
  font-weight: 600;
  color: rgb(196, 211, 233);
}

.steps__description {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.steps__description--title {
  font-size: 24px;
  color: rgb(36, 62, 99);
  font-weight: 500;
  margin-bottom: 12px;
}

.steps__description--para {
  font-weight: 00;
  color: rgb(110, 122, 136);
  font-size: 18px;
  margin-bottom: 24px;
  max-width: 400px;
  line-height: 1.75;
}

/* 

VALUES

*/

.values__row {
  display: flex;
}

.values__description {
  width: 50%;
}

.values__img {
  width: 50%;
}

.values__subtitle {
  color: rgb(110, 122, 136);
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 28px;
}

.values__features {
  display: flex;
  margin-bottom: 42px;
}

.values__feature--title {
  color: rgb(36, 62, 99);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.dollar__logo {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: rgb(157, 214, 170);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 12px;
}

.values__feature--para {
  line-height: 1.5;
  font-weight: 300;
  font-size: 15px;
  color: rgb(110, 122, 136);
}

.values__feature:first-child {
  padding-right: 30px;
}

.values__img {
  margin-left: 90px;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.briefcase__logo {
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: rgb(240, 183, 145);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  margin-right: 12px;
}

/* 

PRICING

*/

.pricing__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__name--pricing,
.section__title--pricing,
.section__subtitle--pricing {
  text-align: center;
}

.section__subtitle--pricing {
  color: rgb(160, 174, 192);
  font-weight: 400;
  margin-bottom: 48px;
  line-height: 1.5;
}

.pricing__subtitle--wrapper {
  max-width: 600px;
}

.prices {
  display: flex;
  width: 100%;
  margin-top: 24px;
}

.price__type,
.price__description,
.pricing__button {
  border: 2px solid rgba(196, 211, 233, 0.3);
}

.price__type--business,
.price__description--business,
.pricing__button--business {
  border: 1px solid rgb(102, 126, 234);
}

.price {
  height: 70vh;
  margin: 0 24px;
  width: calc(100% / 3);
  border: 2px solid rgba(196, 211, 233, 0.3);
  border-radius: 15px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.price__type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 35%;
  padding: 24px 0;
  position: relative;
}

.price__type--personal::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.price__type--enterprise::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

.price__name {
  font-size: 20px;
  font-weight: 600;
}

.price__number {
  font-size: 54px;
  font-weight: 700;
}

.monthly {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  color: rgb(110, 122, 136);
}

.price__description {
  height: 45%;
  display: flex;
  flex-direction: column;
  padding: 12% 0;
}

.price__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.price__list--title {
  font-size: 24px;
  font-weight: 600;
}

.price__list--item {
  font-weight: 500;
  color: rgb(110, 122, 136);
  font-size: 18px;
}

.pricing__button {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing__button--hover {
  transition: all 300ms ease;
}

.pricing__button--hover:hover {
  opacity: 0.9;
  transform: translate(1px, -1px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.personal__button {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 60px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.personal__button {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 60px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  background-color: #fff;
}

.business__button {
  color: rgb(100, 21, 255);
  font-weight: 600;
  font-size: 18px;
  padding: 16px 60px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  background-color: #fff;
}

.price__type--business,
.price__description--business,
.pricing__button--business {
  background-color: transparent;
}

.price__type--business,
.price__description--business,
.monthly__business,
.price__list--business {
  color: #fff;
}

.price__business {
  background: linear-gradient(
    135deg,
    rgb(67, 75, 228) 0%,
    rgb(86, 109, 212) 100%
  );
}

.price__list-item--business {
  font-size: 18px;
  font-weight: 500;
}

.button__business {
  color: rgb(100, 21, 255);
}

.enterprise__button {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 60px;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
}

/* 

Footer

*/

footer {
  height: 575px;
  background-color: rgb(100 21 255);
}

.footer__container {
  padding-bottom: 110px;
}

.footer__row {
  display: flex;
  flex-direction: column;
}

.links {
  display: flex;
  justify-content: space-between;
  padding-bottom: 54px;
  border-bottom: 3px solid rgb(116 44 255);
}

.link__group {
  width: 12%;
  color: #fff;
}

.link {
  padding: 6px 0;
}

.footer__logo--text {
  font-weight: 900;
  font-size: 28px;
  padding-left: 8px;
  color: #fff;
}

.footer__info {
  display: flex;
  margin-top: 54px;  
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: flex;
  align-items: center;
}

.footer__logo--img {
  width: 40px;
  height: 40px;
}

.group__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
}

.link__text {
  color: #fff;
}

.copyright__text {
  font-size: 18px;
  color: #fff;
}

.footer__info--links {
  display: flex;
}

.social__link {
  margin-left: 12px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  transition: opacity 300ms;
}

.hover__effect--footer::before {
  content:"";
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  transform: translateY(5px);
  opacity: 1;
  background-color: #fff;
}

.hover__effect--footer::before {
  content:"";
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  transform: translateY(5px);
  opacity: 0;
  background-color: #fff;
  transition: opacity 300ms ease;
}

li:hover .hover__effect--footer::before {
  opacity: 1;
}

.social__link:hover {
  opacity: 0.8;
}
